body {
    background: #001236;
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.video_container {
    margin-top: 60px;
    max-width: 800px;
}

.video_container video {
    max-width: 100%;
}