.fm-map-container svg{z-index:1;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;}
.fm-tooltip{display:none;position:absolute;z-index:3;min-width:200px;}
.fm-tooltip-image{white-space:nowrap;}
.fm-tooltip-image img{max-width:none;}
.fm-tooltip-comment{font-size:11px;font-family:arial;color:#000000;}
.fm-tooltip-frame{background-color:transparent;border:2px solid transparent;border-radius:10px;padding:5px;opacity:.99;max-width:350px;min-width:200px;border-collapse:separate;margin-bottom:0 !important;line-height:1.4;vertical-align:top;table-layout:auto;}
.fm-tooltip-frame td{background-color:inherit;border:none;padding:5px;vertical-align:top;margin:0;}
.fm-tooltip-name{text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;font-weight:bold;padding:5px;font-family:arial;line-height:1;}
.fm-tooltip-x{color:#444;font:12px/100% arial, sans-serif;position:relative;text-decoration:none;text-shadow:0 1px 0 #fff;z-index:5;visibility:hidden;cursor:pointer;margin:-5px -5px 5px 5px;border-bottom:none !important;float:right;}
.fm-tooltip-x img{width:12px !important;padding:0 !important;margin:0 !important;border:0 !important;}
.fm-tooltip-x.fm-frozen-x{visibility:visible;}
.fm-tooltip-x.fm-mobile-x{visibility:visible;}
.fm-scale{float:left;position:absolute;left:0px;bottom:0px;z-index:2;margin:10px;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;}
.fm-scale div{float:left;}
.fm-scale a{display:block;float:left;font-size:31px;font-weight:bold;line-height:38px;text-align:center;cursor:pointer;color:#333;width:41px;height:37px;padding-top:1px;border:1px solid #e8e8e8;border-bottom:1px solid #bbb;text-decoration:none;margin-right:3px;border-radius:2px;background:#fff;}
.fm-scale a:hover{color:#186ba3;}
.fm-scale a.fm-inactive{cursor:default;color:#cdcdcd;}
.fm-scale-display{clear:both;position:relative;left:0px;z-index:10;width:100%;height:1px;bottom:0px;margin-bottom:5px;background-color:#e8e8e8;}
.fm-scale-display div{background-color:#237cbd;height:1px;-webkit-transition:width ease-in-out .2s;transition:width ease-in-out .2s;}
.fm-scale-buttons{clear:both;}
.fm-no-events{pointer-events:none;}
.brazilHtml5Mapright{margin:auto;}
.brazilHtml5Mapright .brazilHtml5MapContainer{position:relative;float:left;}
.brazilHtml5Mapbottom{margin:auto;}
.brazilHtml5Mapbottom .brazilHtml5MapContainer{position:relative;}
.brazilHtml5Mapright .brazilHtml5MapStateInfo, .brazilHtml5Mapright .brazilHtml5MapStateInfo{float:left;left:20px;margin-right:20px;position:relative;}
.brazilHtml5Mapbottom .brazilHtml5MapStateInfo, .brazilHtml5Mapbottom .brazilHtml5MapStateInfo{}
.brazilHtml5Mapright.htmlMapResponsive .brazilHtml5MapContainer{position:relative;float:none;width:auto;}
.brazilHtml5Mapright .brazilHtml5MapStateInfo, .brazilHtml5Mapright .brazilHtml5MapStateInfo{float:none;left:auto;margin-right:20px;position:relative;}
@media (min-width: 768px){
.brazilHtml5Mapright.htmlMapResponsive .brazilHtml5MapContainer{position:relative;float:left;width:60%}
.brazilHtml5Mapright.htmlMapResponsive .brazilHtml5MapStateInfo, .brazilHtml5Mapright.htmlMapResponsive .brazilHtml5MapStateInfo{float:left;margin:2%;position:relative;width:36%;left:auto;}
}
.brazilHtml5Map-areas-list{display:none;float:left;overflow:auto;}
.brazilHtml5Map-areas-list .brazilHtml5Map-areas-item{margin-bottom:2px;}
.brazilHtml5Map-areas-list a{font-size:16px;text-decoration:none;word-wrap:break-word;}
.brazilHtml5MapSelector.mobile-only{display:none;}
.brazilHtml5MapSelector select{max-width:90%;}
@media (max-width: 768px) {
.fm-mobile-fixed .fm-tooltip-frame{max-width:100%;width:100%;}
.fm-mobile-fixed .fm-tooltip-comment{width:100%;}
.fm-scale a{width:31px;height:27px;font-size:21px;line-height:28px;}
}
@media only screen and (max-width: 480px) {
.brazilHtml5Map-areas-list {
display: none !important;
}
.brazilHtml5MapSelector.mobile-only {
display: block;
}
}