// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Font system
//
$font_primary: 'Igna Sans', sans-serif;

//
// Color system
//

$primary: #001236;
$secondary: #fe913b;
$footer: #fe913b;
$copyright: #000000;

$buttons: #fcbe45;
$text_color: #4a4a4a;
$title_color: #dcb631;
