//all
*{
    font-family: $font_primary;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
section, footer{
    padding: 1.5em 0;
    @include media-breakpoint-up(md){
        padding: 3em 0;
    }
}
section {
    padding: 2em 0;
    @include media-breakpoint-up(md){
        padding: 4em 0;
    }
}



@media screen and (min-width: 767px){
    #contact .mt-4 {
        margin-top: 3em !important;
    }
}
@media screen and (min-width: 992px){
    ul#main-menu {
        margin-left: 60px;
    }
}
ul{
    &.list-style{
        padding: 0;
        margin: 0;
    }
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
    //carousel-fade
    .carousel_fade .carousel-item {
        -webkit-transition: opacity 20s ease-in-out;
        -moz-transition: opacity 20s ease-in-out;
        -ms-transition: opacity 20s ease-in-out;
        -o-transition: opacity 20s ease-in-out;
        transition: opacity 20s ease-in-out;
        text-align: left;
        h1{
            color: #fff;
            text-shadow: 4px 4px 9px rgb(0, 0, 0);
            font-size: 2em;
            font-weight: 700;
            margin: 0;
            margin-bottom: 10px;
            max-width: 675px;
            @include media-breakpoint-up(md){
                font-size: 3.5em;
            }
        }
        h2{
            color: $text_color;
            font-size: 1em;
            font-weight: 600;
            margin: 0;
            margin-bottom: 10px;
            @include media-breakpoint-up(md){
                font-size: 1.3em;
            }
        }
        p{
            color: #fff;;
            font-size: 0.7em;
            font-weight: 500;
            margin: 0;
            text-shadow: 1px 1px 2px rgb(0, 0, 0);

            margin-bottom: 10px;
            line-height: 2em;
            @include media-breakpoint-up(md){
                font-size: 1.2em;
                max-width: 530px;
            }
        }
    }

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}

#carousel {
    .carousel-indicators{
        justify-content: left;
        li{
            background-color: #fff;
            cursor: pointer;
            height: 6px;
            width: 40px;
            &.active {
                background-color: #437ec1;
            }
        }
    }
    @include media-breakpoint-down(md){
        .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 100px;}
    }
    @media screen and (min-width: 1200px){
        .container {
            max-width: 1270px;
        }
    }
    .carousel-item {
      height: 100vh;
      min-height: 300px;
      .btn-main{color: #fff;font-weight: 400;margin-top: 0.5em;font-size: 1.1em;}
      @include media-breakpoint-up (md){
          .align-items-end {
    align-items: flex-end!important;
    bottom: 100px;
    position: relative;

}
      }
      @include media-breakpoint-down(md){
          .align-items-end {align-items: center !important; bottom: 0;}
      }
    h1, p{
        color: #fff;
    }
    h1{
        font-weight: 400;
        font-size: 2em;
        font-family: 'Fredoka One';
        text-rendering: optimizeSpeed;
            @include media-breakpoint-up (md){
            font-size: 3.5em;
            line-height: 1.1em;
        }
    }
    p{
        margin-top: 1.6em;
        font-weight: 400;
        font-size: 1em;
        font-family: 'Nunito';
        text-rendering: optimizeSpeed;
            @include media-breakpoint-up (md){
            font-size: 1.1em;
        }
    }
  }
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//nav effects
.nav-up {
    bottom: -300px;
    transition: 0.2s ease 0s;
}
.nav-down{
    transition: 0.2s ease 0s;
}
.navbar-dark .navbar-toggler {
    outline: 0;

}
//navbar
.navbar-nav li{
    margin-right: 20px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    &:hover, &.active .nav-link, &:hover .nav-link,  &:focus .nav-link{
        color: #fcbe45 !important;
    }
}

.navbar-brand-center{
    img{
        height: 60px;
    }
}

.navbar{
    .custom-logo{
        opacity: 0;
        display: none;
        transition: opacity .6s;

    }
    &.navbar-bg{
        .logo-black{
            opacity: 0;
            display: none;
            transition: opacity .6s;
        }
        .custom-logo{
            opacity: 1;
            display: block;
            transition: opacity .6s;

        }
    }
}
.navbar-dark .navbar-nav .dropdown-menu .nav-link.active, .navbar-dark .navbar-nav .dropdown-menu .nav-link:active {
    color: #e22424!important;
    text-decoration: none;
    background-color: #ffffff;
}
.hamburger {

  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  vertical-align: middle;
  content: "";
  background: center center / 100% 100% no-repeat;
  transform: rotateY(0);
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);

  &__patty {
    width: 100%;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .hamburger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}
// Standard animation, moves two of the patties to the same position for a smooth transition.

.hamburger {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: middle;
  content: "";
  background: center center / 100% 100% no-repeat;

  position: relative;
  &__patty {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 200ms;
    &:nth-child(1) {
      top: 0.3em;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0.3em;
    }
  }
  &--close {
    .hamburger__patty {
      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
        transform: translateY(0.65em) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-0.5em) rotate(-45deg);
      }
    }
  }

}
.nav-tabs {
    border-bottom: transparent;
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 50%;
        text-align: center;
    }
}

.navbar-dark .navbar-toggler {
    outline: none;
}
.navbar{
    padding: 10px;
    background: $primary !important;
    @include media-breakpoint-up(xl){
        background: transparent !important;
        padding: 10px 0;
    }
    &.navbar-bg{
        background:#fff !important;
    }
    .caret{
        border-width: 4px;
        border-style: solid;
        border-right: 4px solid transparent;
        border-color: $primary transparent transparent;
        width: 0;
        height: 0;
        float: right;
        top: 10px;
        position: relative;
        left: 5px;
    }

    .navbar-nav{
        li{
            &.active .nav-link, &:hover .nav-link,  &:focus .nav-link, &.show>.nav-link{
                color: #fcbe45 !important;
                @include media-breakpoint-up(xl){
                border-bottom: 1px solid #fcbe45;
                text-transform: lowercase;
}
            }
            .nav-link, &:focus{
                color: #fff;
                font-weight: 600;
                font-size: 1em;
                text-transform: lowercase;
                @include media-breakpoint-up(xl){
                border-bottom: 1px solid transparent;
}

                &.active{
                    color: #fcbe45 !important;
                    @include media-breakpoint-up(xl){
                    border-bottom: 1px solid #fcbe45;
}
                }
            }
            &:hover a, &:focus a{
                color: #fcbe45 !important;
                @include media-breakpoint-up(xl){
                border-bottom: 1px solid #fcbe45;
}
            }

        }
    }
}
.navbar-dark .navbar-nav .dropdown-menu .nav-link{
    text-align: center;
    border-bottom: 1px solid #fff;
}
//services
#services{
    h2{
        color: $primary;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        font-family: 'Poppins';
        margin-bottom: 25px;
        letter-spacing: -0.06em;
        @include media-breakpoint-between(sm, md) {
            font-size: 2em;
        }
        @include media-breakpoint-up(md){
            font-size: 1.7em;
        }
    }
    p{
        font-size: 0.9em;
        @include media-breakpoint-up(md){
            font-size: 1em;
        }
        font-weight: 400;
        color: #231f20;
    }
    @include media-breakpoint-up (sm){
        .scroll{
            height:300px;
            overflow-y:scroll;
            width:100%;
        }
    #scrollabe::-webkit-scrollbar-track {
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    	background-color: #F5F5F5;
        border-radius: 10px;
    }
    #scrollabe::-webkit-scrollbar {
        width: 9px;
        height: 31px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
     #scrollabe::-ms-scrollbar {
        width: 9px;
        height: 31px;
    }
     #scrollabe::-o-scrollbar {
        width: 9px;
        height: 31px;
    }
     #scrollabe::-moz-scrollbar {
        width: 9px;
        height: 31px;
    }

    #scrollabe::-webkit-scrollbar-thumb{
    	background-color: $primary;
        // background: url('/wp-content/themes/sciath/img/scroll.png') no-repeat;
        // background-position: center;
        border-radius: 10px;
    }

    /* Handle */
    #scrollabe ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $primary;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    #scrollabe ::-ms-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $primary;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    #scrollabe ::-o-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $primary;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    #scrollabe ::-moz-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $primary;
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    }
    #scrollabe ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }
    #scrollabe ::-moz-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }
    #scrollabe ::-ms-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }
    #scrollabe ::-o-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }
}
    #scrollabe, #v-pills-tab{
        @include media-breakpoint-down (sm){
            margin-bottom: 20px;
        }
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #v-pills-tab {
        background: #efefef;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        border: none;
        width: 48%;
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
        font-family: 'Poppins';
        text-transform: lowercase;
        color: #757575;
        margin-bottom: 0;
        padding: 10px 0;
        &:first-child a{
            border-top-left-radius: 15px;
            border-top-right-radius: 0;
            border-right: 4px solid #fff;
        }
        &:last-child a{
            border-top-right-radius: 15px;
            border-top-left-radius: 0;
            border-left: 4px solid #fff;

        }
    }
    .nav-tabs .nav-item .nav-link{
        border-color: none;
        color: #757575;
        background: #efefef;

    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
        border-color: none;
        color: #fff;
        background: linear-gradient(to left, rgba(254, 145, 59, 1) 0%, rgba(230, 79, 67, 1) 75%);

    }
    .nav-pills{
        .nav-link{
            h3{
                font-size: 17px;
                font-weight: 400;
                text-transform: lowercase;
                color: #757575;
                margin-bottom: 0;
                padding: 10px 0;
                text-align: center;
                font-style: italic;
            }
            border-bottom: 5px solid #fff;

            &:last-child{
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            border-radius: 0;

            &.active, &:hover {
                h3{
                    color: #fff;
                }
                background: linear-gradient(to left, rgba(254, 145, 59, 1) 0%, rgba(230, 79, 67, 1) 75%);
            }
        }
    }
    .tab-content {
        h3{
            color: $primary;
            font-size: 2em;
            font-weight: 900;
            margin-bottom: 15px;
            text-align: left;
            font-family: 'Poppins';
            text-transform: lowercase;
        }
        p{
            color: #363636;
            font-weight: 400;
            font-size: 0.9em;
            line-height: 1.9em;
            text-align: left;
            margin-bottom: 20px;
            @include media-breakpoint-up (md){
                margin: 0;
            }
        }
        #text_description{
            @include media-breakpoint-up (xl){
                padding: 0 3em;
            }
            ul{
                text-align: left;
            }
        }
    }
}

//text
#text{
    // background: linear-gradient(to left, rgba(254, 145, 59, 1) 0%, rgba(230, 79, 67,1) 75%);
    background: url('/wp-content/themes/sciath/img/city.png');
    background-position: center bottom;
    height: auto;
    padding: 3em 0;
    @include media-breakpoint-up (md){
        height: 580px;
    }
    h2, h3{
        color: #fff;
        text-align: center;
    }
    h2{
        font-weight: 700;
        font-size: 1.6em;
        margin: 0;
        font-family: 'Poppins';
        @include media-breakpoint-up (md){
            font-size: 2.3em;
        }
    }
    hr {
        border-top: 2px solid rgb(255, 255, 255);
        width: 90%;
    }
    h3{
        font-size: 1em;
        @include media-breakpoint-up (md){
            font-size: 1.3em;
            line-height: 2em;
        }
        font-weight: 300;
    }
}
//company
#company{
    padding: 6em 0;
    @include media-breakpoint-down(xs){
        padding: 3em 0;
    }
    h2{
        color: $primary;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        font-family: 'Poppins';
        margin-bottom: 25px;
        letter-spacing: -0.06em;
        @include media-breakpoint-up(md){
            text-align: left;
            font-size: 2em;
        }
    }
    h3, p{
        color: #363636;
        font-size: 1em;
    }
    h3{
        font-weight: 700;
        text-transform: uppercase;
    }
    #item{
        margin-bottom: 20px;
    }
    #map{
        tspan{
            display: none;
        }
        #map-container-0{
            a{
                display: none;
                z-index: -1;
            }
        }
        p.sciath{
            top: auto;
            position: absolute;
            background: #ffffff;
            width: 100%;
            float: left;
            z-index: 1;
            color: #fff;
            border: none;
            margin: 0;
            height: 50px;
            display: none;
            bottom: 31px;
            @include media-breakpoint-down (md){
                display: none;
            }
        }
        p{
            text-align: center;
            margin-top: 20px;
            border-top: 4px solid $primary;
        }
        a{
            display: none !important;
        }
    }
    p{
        font-weight: 400;
        line-height: 2em;
        @include media-breakpoint-up(md){
            font-size: 0.9em;
        }
    }
}
//about
#about{
    @include media-breakpoint-up(xl){
        padding: 0.5em 0 0 0;
    }
    background: $secondary;
    h2{
        color: #fff;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        font-family: 'Poppins';
        margin-bottom: 25px;
        letter-spacing: -0.06em;
        @include media-breakpoint-up(md){
            text-align: left;
            margin-top: 50px;
            font-size: 2em;
        }
    }
    p{
        font-size: 0.8em;
        font-weight: 400;
        color: #fff;
        margin: 0;
        line-height: 2em;
        @include media-breakpoint-up(md){
            font-size: 0.9em;
        }
    }
    #gallery_about {
        .owl-item{
            -webkit-box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.75);
        }
        // @include media-breakpoint-up(md){
        //     margin-top: -40px;
        // }
        @include media-breakpoint-up(xl){
            // top: -40px;
            // margin-top: 0;
            // margin-bottom: -30px;
        }
    }
}
//testimonials
#testimonials{
    background: $primary;
    #testimonial_item{
        padding: 3em 0;
    }
    #avatar_testimonial{
        img{
            border-radius: 50%;
            width: 167px;
            height: 167px;
        }
    }
    #text_testimonial{
        h3{
            font-size: 1.3em;
            font-weight: 700;
            font-family: 'Poppins';
            color: #fff;
            @include media-breakpoint-up(md){
                font-size: 2em;
            }
        }
        p{
            font-size: 1em;
            font-weight: 300;
            color: #fff;
            margin: 20px 0;
            font-family: 'Igna Sans UltraLight It';
            @include media-breakpoint-up(md){
                font-size: 1.1em;
            }
        }
    }
    button.owl-dot{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid #fff;
        margin: 0 5px;
        &:hover, &.active{
            background: #fff;
        }
    }
}
//partners
#partners{
    h2{
        color: $primary;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        font-family: 'Poppins';
        margin-bottom: 25px;
        letter-spacing: -0.06em;
        @include media-breakpoint-between(sm, md) {
            font-size: 2em;
        }
        @include media-breakpoint-up(md){
            text-align: center;
            font-size: 1.7em;
        }
    }
    p{
        font-size: 0.9em;
        @include media-breakpoint-up(md){
            font-size: 1em;
        }
        font-weight: 400;
        color: #231f20;
    }
    .owl-carousel{
        margin-top: 60px;
    }
    img{
        width: auto;
        -webkit-filter: grayscale(100%);
        -webkit-transition: .5s ease-in-out;
        -moz-filter: grayscale(100%);
        -moz-transition: .5s ease-in-out;
        -o-filter: grayscale(100%);
        -o-transition: .5s ease-in-out;
        &:hover{
            -webkit-filter: grayscale(0%);
-webkit-transition: .5s ease-in-out;
-moz-filter: grayscale(0%);
-moz-transition: .5s ease-in-out;
-o-filter: grayscale(0%);
-o-transition: .5s ease-in-out;
        }
    }
}
//contact
#contact{
    @include media-breakpoint-up(xl){
        height: 100vh;
    }
    background: #e4e4e4;
    #address_map{
        .acf-map {
            width: 100%;
            height: 400px;
            border-bottom: $primary solid 7px;
            margin: 30px 0;
            @include media-breakpoint-up(xl){
                margin: 0 0 16px 0;
            }
        }
        /* fixes potential theme css conflict */
        .acf-map img {
            max-width: inherit !important;
        }
        p{
            text-align: left;
            min-height: 40px;
            color: $primary;
            font-family: 'Nunito';
            line-height: 40px;
            top: 12px;
            position: relative;
        }
    }
    h1{
        color: $primary;
        font-size: 1.4em;
        font-weight: 400;
        text-align: center;
        font-family: 'Fredoka One';
        margin-bottom: 25px;
        @include media-breakpoint-between(sm, md) {
            font-size: 2em;
        }
        @include media-breakpoint-up(md){
            text-align: left;
            font-size: 2.5em;
        }
    }
    p, #talk_to_us_met{
        font-size: 0.9em;
        @include media-breakpoint-up(md){
            font-size: 1em;
        }
        font-weight: 400;
        color: #231f20;
    }
    .form-control{
        background: #fff;
        color: $primary;
        border: 1px solid #fff;
        font-size: 1em;
        border-radius: 0;
        border-left: 7px solid #fff;
        &:focus{
            border: none;
            box-shadow: none;
            border: 1px solid #fff;
            border-left: 7px solid #95afe2;
            transition: 0.3s ease all;
        }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $primary;
        font-size: 0.9em;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $primary;
        font-size: 0.9em;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $primary;
        font-size: 0.9em;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $primary;
        font-size: 0.9em;
    }
    .wpcf7{
        max-width: 100%;
    }
    .btn{
        border: none;
        font-weight: 600;
        color: $primary;
        font-size: 1.1em;
        margin: 0;
        border-radius: 0;
        background: #95afe2;
        width: auto;
        padding: 6px 15px;
        border: 1px solid #95afe2;
        &:hover, &:focus{
            background: #95afe2;
            color: $primary;
            border: 1px solid #95afe2;
            box-shadow: none;
        }
    }
    div.wpcf7 .ajax-loader{
        display: none;
    }
    @include media-breakpoint-down (md){
        .form-row > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
//work
#work{
    @include media-breakpoint-up(xl){
        height: 100vh;
    }
    background: #e4e4e4;
    h1{
        color: $primary;
        font-size: 1.4em;
        font-weight: 400;
        text-align: center;
        font-family: 'Fredoka One';
        margin-bottom: 25px;
        &:first-letter{
            text-transform: uppercase;
        }
        @include media-breakpoint-between(sm, md) {
            font-size: 2em;
        }
        @include media-breakpoint-up(md){
            text-align: left;
            font-size: 2.5em;
        }
    }
    p{
        font-size: 0.9em;
        font-weight: 400;
        color: $primary;

        @include media-breakpoint-up(md){
            font-size: 1em;
        }
    }
    .btn{
        border: none;
        font-weight: 600;
        color: $primary;
        font-size: 1.3em;
        margin: 0;
        border-radius: 0;
        width: 100%;
        background: #437ec1;
        padding: 9px 15px;
        border: 1px solid #437ec1;
        color: #fff;
        &:first-letter{
            text-transform: uppercase;
        }
        &:hover, &:focus{
            background: #fff;
            color: #437ec1;
            border: 1px solid #437ec1;
            box-shadow: none;
        }
    }
    .owl-carousel{
        margin: 30px 0;
        text-align: center;
        .item{
            img{
                width: auto;
            }
            p{
                color: $primary;
                font-weight: 700;
                margin: 0 auto;
                text-align: center;
                @include media-breakpoint-up (xl){
                    max-width: 102px;
                }
            }
        }
    }
    @include media-breakpoint-down(xl){
        #work_image{
            margin-top: 30px;
        }
    }
}
#page_related{
    color: #fff;
    #bg_primary{
        background: rgba(239, 78, 55, 0.7);
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
        min-height: 120px;
        &:hover{
            border-top: 5px solid #fff;
            transition: 0.3s ease all;
        }
        border-top: 5px solid rgba(239, 78, 55, 0.7);
        transition: 0.3s ease all;
    }
    .media-body{
        color: #fff;
    }
    #bg_secondary{
        background: rgba(67, 126, 193, 0.7);
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
        min-height: 120px;
        &:hover{
            border-top: 5px solid #fff;
            transition: 0.3s ease all;
        }
        border-top: 5px solid rgba(67, 126, 193, 0.7);
        transition: 0.3s ease all;
    }
    p{
        color: #fff;
    }
    a, a:hover{
        text-decoration: none;
    }
}
#page_related_inner{
    color: #fff;
    .cssClass:last-child{
        padding-right: 0
    }
    #bg_primary{
        background: $primary;
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
        padding: 18px 34px;
        min-height: 77px;
        &:hover{
            border-top: 5px solid #fff;
            transition: 0.3s ease all;
        }
        border-top: 5px solid rgba(239, 78, 55, 0.7);
        transition: 0.3s ease all;
    }
    .media-body{
        color: #fff;
    }
    #bg_secondary{
        background: $primary;
        color: #fff;
        font-weight: 700;
        font-size: 1.1em;
    padding: 10px 20px;
    border-left: 9px solid #e4e4e4;

        &:hover{
            border-top: 5px solid #fff;
            transition: 0.3s ease all;
        }
        border-top: 5px solid rgba(67, 126, 193, 0.7);
        transition: 0.3s ease all;
    }
    p{
        color: #fff;
    }
    a, a:hover{
        text-decoration: none;
    }
}
.active_border {
    border-top: 5px solid #fff !important;
    transition: 0.3s ease all !important;
}
.entry-meta {
    display: none;
}
footer.entry-footer, #comments {
    display: none;
}
//footer
footer{
    background: #dd7e32;
    h2{
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 500;
        color: #fff;
    }
    hr {
        border-color: $primary;
        width: 30px;
        margin-top: 0;
        border-width: 2px 0 0;
        margin: 0;
        margin-bottom: 15px;
        margin-top: 10px;

    }
    #theme_pages{
        padding: 0;
        #main-menu{
            margin: 0;
        }
        li{
            font-size: 1em;
            color: #fff;
            font-weight: 400;
            text-align: center;
            list-style: none;
            @include media-breakpoint-up (md){
                text-align: left;
                display: inline-block;
            }
            a{
                color: #fff;
                text-transform: lowercase;
            }
            &:last-child{
                margin-bottom: 0 !important;
            }
            &:hover{
                transition: 0.3s ease all;
                color: #fff;
            }
            .dropdown-menu{
                li{
                    a{
                        color: #e64f43;
    text-transform: lowercase;

                    }
                }
            }
        }
    }
    //theme_social
    #theme_social{
        padding: 15px 0;
        text-align: center;
        @include media-breakpoint-up(md){
            text-align: right;
            padding: 5px 0;
        }
        li{
            margin: 0 15px;
            a{
                color: #fff;
                font-size: 2.6em;
                transition: 0.3s ease 0s;
                @include media-breakpoint-up(md){
                    font-size: 2em;
                }
            }
            &:hover, &focus{
                color: #fff;
                transition: 0.3s ease 0s;
            }
        }
    }
}
#breadcrumbs{
    font-family: 'Nunito';
    margin-bottom: 30px;
    @include media-breakpoint-up (md){
        margin-bottom: 0;
    }
    .separador{
        margin:0 10px;
    }
    ul{
        list-style: none;
        display: inline-block;
        padding: 0;
        li{
            display: inline-block;
        }
    }
}
@include media-breakpoint-down (md){
    .wrapper-navbar{
        display: block;
    }
}
@include media-breakpoint-up(xl){
    .wrapper-navbar{
        display: none;
    }
}
.main-menu:hover ,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
}

.main-menu {
    background: $primary;
    border-right:1px solid #e5e5e5;
    padding-top: 40px;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    margin: 0 auto;
    width:110px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    ul {
        margin:7px 0;
        li {
            position:relative;
            display:block;
            width:250px;
            left: 25px;
            a {
                position:relative;
                display:table;
                border-collapse:collapse;
                border-spacing:0;
                color:#999;
                 font-family: arial;
                font-size: 14px;
                text-decoration:none;
                -webkit-transform:translateZ(0) scale(1,1);
                -webkit-transition:all .1s linear;
                transition:all .1s linear;
            }
        }
    }
}

// /* ---------------------------------------------------
//     SIDEBAR STYLE
// ----------------------------------------------------- */
//
// .wrapper {
//     display: flex;
//     width: 100%;
//     align-items: stretch;
//     margin: 0;
//     padding: 0;
// }
//
//
// #sidebar {
//     margin-left: 0;
//     min-width: 150px;
//     max-width: 150px;
//     background: $primary;
//     color: #fff;
//     transition: all 0.6s;
//     ul#main-sidebar {
//         margin-left: 0px;
//         padding: 0;
//         left: 43%;
//         transition: 0.5s ease all;
//         position: relative;
//     }
//     li.menu-item{
//         list-style: none;
//         width: 130%;
//         &:before{
//             content: "•";
//             color:  #fff;
//             font-size: 30px;
//         }
//     }
//         li.current-menu-item{
//             &:before{
//                 content: "•";
//                 color: #95afe2;
//             }
//         }
//
//     .navbar-icon-complete{
//         opacity: 0;
//          visibility: hidden;
//          -webkit-transition: opacity 6000ms, visibility 6000ms;
// transition: opacity 6000ms, visibility 6000ms;
//         display: none;
//
//     }
//     .navbar-icon{
//         visibility: visible;
//         opacity: 1;
//         -webkit-transition: opacity 6000ms, visibility 6000ms;
// transition: opacity 6000ms, visibility 6000ms;
//         display: block;
//
//     }
// }
// .navbar-icon, .navbar-icon-complete{
//     min-height: 98px;
// }
// #sidebar:hover {
//     margin-left: 0px;
//     min-width: 350px;
//     max-width: 350px;
//     ul#main-sidebar {
//         margin-left: 10px;
//         padding: 0;
//         left: 0;
//         transition: 0.5s ease all;
//         position: relative;
//     }
//
//     .navbar-icon-complete{
//         visibility: visible;
//         opacity: 1;
//         -webkit-transition: opacity 6000ms, visibility 6000ms;
// transition: opacity 6000ms, visibility 6000ms;
//         display: block;
//
//     }
//     .navbar-icon{
//         opacity: 0;
//          visibility: hidden;
//          -webkit-transition: opacity 6000ms, visibility 6000ms;
// transition: opacity 6000ms, visibility 6000ms;
//         display: none;
//
//     }
// }

#page_related {
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;

}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: stretch;
}

#sidebara {
    min-width: 250px;
    max-width: 250px;
    background: $primary;
    color: #fff;
    transition: all 0.9s;
}

#sidebara.active {
    margin-left: -150px;
}

#sidebara .sidebar-header {
    padding: 20px;
    background: $primary;
}

#sidebara ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $primary;
}

#sidebara ul p {
    color: #fff;
    padding: 10px;
}

#sidebara ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.cssClass:last-child{
    padding-right: 50px;
}
#sidebara ul li a:hover {
    color: $primary;
    background: #fff;
}

#sidebara ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $primary;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $primary;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: $primary;
}
.fixed-top{
    left: 350px;
}
a.article,
a.article:hover {
    background: $primary !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.9s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.page-template-template-sub, .page-template-template-sub_how, .page-template-template-manifesto, .page-template-template-company, .page-template-template-timeline{
    #page_related{
        .cssClass:last-child {
    padding-right: 0px;
}
        #bg_secondary, #bg_primary{
            min-height: 10px;
            p{
                opacity: 0;
                -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
height: 20px;
            }
        }
        &:hover{
            #bg_secondary, #bg_primary{
                min-height: 120px;
                p{
                    opacity: 1;
                    -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

                }
            }
        }
    }
}
@include media-breakpoint-down (md){
    #sidebar, #page_srelated{
        display: none;
    }
    #page_related{
        bottom: 80px;
        img{
            display: none;
        }
        .cssClass:last-child{
            padding-right: 0;
        }
        #bg_secondary, #bg_primary{
            min-height: 10px;
            p{
                opacity: 1;
                padding: 20px 0;
                -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
height: auto;
            }
        }
        &:hover{
            #bg_secondary, #bg_primary{
                min-height: 120px;
                p{
                    opacity: 1;
                    -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

                }
            }
        }
    }
}
@include media-breakpoint-up (xs){
    .custom_icon{
        display: none;
    }
}
.metodologia{
    max-height: 450px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom-right-radius: 80px;
}
.page-id-69 #page_related .item_0#bg_primary {
    background: rgba(239,78,55,1);
}
.page-id-83 #page_related .item_3#bg_secondary {
    background: rgba(67,126,193,1)
}
@include media-breakpoint-down (xs){
    #page_related{
        bottom: 80px;
        .custom_icon{
            display: block;
        }
        .cssClass:last-child{
            padding-right: 0;
        }
        #bg_secondary, #bg_primary{
            min-height: 10px;
            p{
                display: none;
                opacity: 1;
                padding: 20px 0;
                -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
height: auto;
            }
        }
        &:hover{
            #bg_secondary, #bg_primary{
                min-height: 120px;
                p{
                    opacity: 1;
                    -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

                }
            }
        }
    }
}
#carousel_our{
    display: none;
    @include media-breakpoint-down (md){
        display: block;
    }
}
#our_list{
    display: none;
    @include media-breakpoint-up (md){
        display: flex;
    }
}
.our_list{
    @include media-breakpoint-up (md){
        .media{
            margin-left: -30px;
            margin-top: 10px;
        }
    }
    @include media-breakpoint-down (md){
        .media-body, h2, p, .item p{
            text-align: left !important;
        }
    }
    h2{
        font-weight: 400;
        font-family: 'Fredoka One';
        font-size: 1.2em;
        @include media-breakpoint-up (md){
            max-width: 200px;
        }
        margin-bottom: 15px;
    }
    p{
        font-weight: 400;
        font-family: 'Nunito';
        font-size: 1em;
        max-width: 320px;
    }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 110px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background: $primary;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    .navbar-icon-complete{
        display: none;
        opacity: 0;
    }
}

#sidebar.active {
    left: 0;
    transition: all 0.3s;
    width: 250px;
    .navbar-icon-complete{
        display: block;
        opacity: 1;
    }
    .navbar-icon{
        display: none;
        opacity: 0;
    }
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: $primary;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: $primary;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
    transition: all 0.5s ease-in-out;

}

#sidebar .sidebar-header {
    padding: 20px;
    background: $primary;
    height: 238px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $primary;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li{
    list-style: none;
    &:before{
       content: "•";
       color:  #fff;
       top: 0px;
       position: relative;
       font-size: 20px;
       transition: 0.3s ease all;
   }
    &.current-menu-item, &.current-page-ancestor{
        &:before{
           content: "•";

           color: #95afe2;
       }
   }
}
#sidebar{
   &.active{
       ul li{
           &:besfore{
               content: '';
               transition: 0.3s ease all;
           }
       }
   }
}
#sidebar #main-sidebar{
    padding: 0;
width: 250px;
text-align: left;
margin-left: 50px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}
#sidebar.active ul li a{
    opacity: 1;
}
#sidebar.active ul li, #sidebar ul li{
    min-height: 40px;
}
#sidebar ul li a, #sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $primary;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $primary;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: $primary;
}

a.article,
a.article:hover {
    background: $primary !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#sidebarss{
    .sidebar-header{
        min-height: 100px;
        width: 250px;
        float: none;
        margin: 0 auto;
        text-align: center;
        .navbar-icon{
            display: none;
            opacity: 0;
        }
        .navbar-icon-complete{
            opacity: 1;
            display: block;
        }
    }
    ul.components {
        width: 250px;
        float: left;
        text-align: center;
        top: 20%;
        border-bottom: none;
        position: relative;
        li{
            text-align: left;
            a{
                color: #fff;
                background: $primary;
                display: inline-block;
            }
            list-style: none;
            &:before{
               content: "•";
               color:  #fff;
               top: 3px;
               position: relative;
               font-size: 30px;
           }
            &.current-menu-item, &.current-page-ancestor{
                &:before{
                   content: "•";

                   color: #95afe2;
               }
           }
        }
        #main-sidebar{
            padding-left: 20px;
        }
    }
    &.active{
        margin-left: -100px;
        .sidebar-header{
            min-height: 100px;
            width: 150px;
            float: right;
            .navbar-icon-complete{
                display: none;
                opacity: 0;
            }
            .navbar-icon{
                opacity: 1;
                display: block;
            }
        }
        ul.components {
            width: 150px;
            float: right;
            text-align: center;
            li{
                text-align: center;
                a{
                    display: none;
                }
                list-style: none;
                &:before{
                   content: "•";
                   color:  #fff;
                   font-size: 30px;
               }
                &.current-menu-item, &.current-page-ancestor{
                    &:before{
                       content: "•";
                       color: #95afe2;
                   }
               }
            }
            #main-sidebar{
                padding: 0;
            }
        }
    }
}
.fa-linkedin{
    color: #c7c7c7;
}
.navbar .navbar-nav li.active .nav-link, .navbar .navbar-nav li .nav-link{
    border: none;
    font-size: 20px;
}
@media screen and (min-width: 767px){
    div.cssClass {
    flex: 0 0 23.3%;
    max-width: 23.3%;
}
}
/*
 *  STYLE 8
 */
 @include media-breakpoint-down (md){

 .scrollbars
 {
 	height: 170px;
 	overflow-y: scroll;
 }
}
 #content_page::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 #content_page::-webkit-scrollbar {
     width: 9px;
     height: 31px;
     background-color: #F5F5F5;
     border-radius: 10px;
 }
  #content_page::-ms-scrollbar {
     width: 9px;
     height: 31px;
 }
  #content_page::-o-scrollbar {
     width: 9px;
     height: 31px;
 }
  #content_page::-moz-scrollbar {
     width: 9px;
     height: 31px;
 }

 #content_page::-webkit-scrollbar-thumb{
     background-color: $primary;
     // background: url('/wp-content/themes/sciath/img/scroll.png') no-repeat;
     // background-position: center;
     border-radius: 10px;
 }

 /* Handle */
 #content_page ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: $primary;
     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
 }
 #content_page ::-ms-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: $primary;
     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
 }
 #content_page ::-o-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: $primary;
     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
 }
 #content_page ::-moz-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: $primary;
     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
 }
 #content_page ::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4);
 }
 #content_page ::-moz-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4);
 }
 #content_page ::-ms-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4);
 }
 #content_page ::-o-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4);
 }

 .avatar_image{
     border-top-right-radius: 39px;
 }
 #lideres_item{
     .tint {
        position: relative;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
            border-top-right-radius: 40px;
        .carousel-caption{
            opacity: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            p{
                color: #fff;

            }
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .3s linear;
                border-top-right-radius: 40px;
        }
     }
     .tint:hover{
         .carousel-caption{
             opacity: 1;
             -webkit-transition: opacity 1s ease-in-out;
             -moz-transition: opacity 1s ease-in-out;
             -ms-transition: opacity 1s ease-in-out;
             -o-transition: opacity 1s ease-in-out;
             transition: opacity 1s ease-in-out;
         }
     }
     .tint:hover:before {
         background: rgba($primary, 0.7);
        border-bottom: 5px solid $primary;
     }
     .modal-content {
        background-color: #437fc1;
    }
 }
 #colabora_item{
     .tint {
        position: relative;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
            border-top-right-radius: 40px;
        .carousel-caption{
            opacity: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -ms-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            p{
                color: #fff;

            }
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .3s linear;
                border-top-right-radius: 40px;
        }
     }
     .tint:hover{
         .carousel-caption{
             opacity: 1;
             -webkit-transition: opacity 1s ease-in-out;
             -moz-transition: opacity 1s ease-in-out;
             -ms-transition: opacity 1s ease-in-out;
             -o-transition: opacity 1s ease-in-out;
             transition: opacity 1s ease-in-out;
         }
     }
     .tint:hover:before {
         $secondarys: #95afe2;
         background: rgba($secondarys, 0.7);
        border-bottom: 5px solid $secondarys;
     }

 }

 .modal-full {
     min-width: 100%;
     margin: 0;
 }

 .modal-full .modal-content {
     min-height: 100vh;
 }
a.no{
    &:focus{
        outline: none;
    }
}
#work {
    background: #e4e4e4;
    height: 100vh;
}
.modal{
    .modal-content#colabora{
       background-color: #437fc1;
   }
   .modal-content#lider{
      background-color: $primary;
  }
  @include media-breakpoint-down (md){
      .custom_image{
          display: none;
      }
  }
  @include media-breakpoint-up (xl){
        .custom_image{
            position: fixed;
            /* z-index: 0; */
            /* top: -26px; */
            /* left: 60px; */
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
            margin-left: -140px;
            margin-top: -130px;
        }
    }
    .avatar_image{
        z-index: 1;
        position: relative;
    }
    h2{
        font-size: 1.4em;
        color: #fff;
        font-weight: 600;
        }
    h3{
        font-size: 1.4em;
        color: #fff;
    }
    p{
        color: #fff !important;
font-size: 1em;
    }
    .fa{
                color: #fff;
    font-size: 1.5em;
    }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
}
.modal-header {
    border: none !important;
}
@media screen and (max-width: 992px){
    section{
        height: auto !important;
        #work, #contact{
            min-height: 100vh;
        }
    }
    #custom_navbar{
        display: none;
    }
}
.navbar.navbar-bg {
    background: $primary !important;
}
.timeline{
    padding: 30px;
}
.timeline-section1 .timeline-icon-section,
.timeline-section2 .timeline-content-top{
    position: relative;
    border-bottom:3px dotted $primary;
    height:210px;
}
.timeline-section2 .timeline-content-top{
    border-bottom:3px dotted $primary;
    padding-top: 30px;
}
.timeline-section1 .timeline-icon-section:after{
    content: url('/wp-content/themes/arco/img/red.png');
    position:absolute;
    top: 183px;
    right: 0;
    background: #e4e4e4;
    width: 55px;
    z-index: 0;
    // border:10px solid #e4e4e4;
    // border-left-color:#f04d37;
}
.timeline-section1 .timeline-icon-section:before{
    content: " ";
    position:absolute;
    top:190px;
    left:0px;
    border:10px solid transparent;
    border-left-color:#e4e4e4;
}
.img-thumbnail{
    border: none;
}
.timeline-section2 .timeline-icon-section:after{
    content: url('/wp-content/themes/arco/img/blue.png');
    position:absolute;
    top: -28px;
    right: 0;
    background: #e4e4e4;
    width: 55px;
    z-index: 0;
    // border:10px solid #e4e4e4;
    // border-left-color:#437ec1;
}
.timeline-section2 .timeline-icon-section:before{
    content: " ";
    position:absolute;
    top:-20px;
    left:0px;
    border:10px solid transparent;
    border-left-color:#e4e4e4;
}
.timeline-icon-section img{
    width: 100px;
    height: 100px;
}
.borders{
    border-right:1px dotted $primary;
    height:50px;
    width: 1px;
    margin: 20px auto;
}
.timeline-section2 .timeline-icon-section img{
}
.img-thumbnail{
    background: transparent;
}

.timeline-content-bottom{
    margin-top:70px;
}
.timeline-content-bottom h1,.timeline-content-top h1{
    font-size: 25px;
    font-weight: bold;
}
.timeline-section2 .timeline-content-top{
    height:210px;
    padding: 0;
}

@media (min-width:320px) and (max-width: 1024px){
    .timeline-section1 .timeline-icon-section::after,
    .timeline-section1 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::after,
    .timeline-section2 .timeline-icon-section,
    .timeline-section2 .timeline-content-top,
    .timeline-section1 .timeline-icon-section{
        border:none;

    }
    .timeline-section2{
        border-bottom: 3px solid #2CA2B8;
        margin-bottom: 15px;
    }
    .timeline-section1{
        border-bottom: 3px solid #f04d37;
        margin-bottom: 15px;
    }
}
nav#custom_navbar {
    background: transparent !important;
}
#work{
    .timeline{
        .custosm_p{
            top: -20px;
            position: relative;
        }
        .timeline-section1, .timeline-section2{

            h1{
                font-family: "Fredoka One";
                font-size: 1.3em;
                font-weight: 400;
                color: #a4a6ac;
                transition: 0.3s ease all;
            }
            p{
                color: #a4a6ac;
                font-family: "Nunito";
                text-align: left;
                transition: 0.3s ease all;
            }
            .scale_img { transition: all .2s ease-in-out; z-index: 999;position: relative;}
.scale_img:hover { transform: scale(3.1); }
            &:hover{
                h1, p{
                    color: $primary;
                    transition: 0.3s ease all;
                }

            }
            h1, p{
                z-index: 9;
            }
            p{
                font-size: 0.8em;
            }
            @media screen and (min-width: 992px){
                min-height: 580px;
            }
            @media screen and (min-width: 992px) and (max-width: 1090px){
                flex: 0 0 13.66667%;
                max-width: 16.66667%;
                padding: 0;
                h1{
                    font-size: 1em;
                }
                p{
                    font-size: 0.9em;
                }
                .timeline-icon-section img {
                    width: 70px;
                    height: 70px;
                }
            }
            @media screen and (min-width: 1092px){
                flex: 0 0 11.66667%;
                max-width: 16.66667%;
                padding: 0;
            }

        }
    }
}
.page-id-107 {
    @media screen and (min-width: 1200px){
        .container {
            max-width: 1050px;
        }
    }
}
@media screen and (max-width: 992px){
    .timeline-section1 .timeline-icon-section, .timeline-section2 .timeline-content-top{
        height: auto;
    }
    .timeline-content-bottom {
        margin-top: 10px;
    }
}
@media screen and (min-width: 767px) and (max-width: 992px){
div.cssClass{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
#page_related{
    transition: 0.3s ease all;
}
@media screen and (max-width: 992px){
    #page_related.active_mobile {
        bottom: 0px;
        transition: 0.3s ease all;
    }
}
#contact{
    .carousel-inner{
        img{
            height: 729px;
            border-bottom-right-radius: 87px;
        }
    }
    .carousel-caption{
        bottom: 100px;
        text-align: left;
        #breadcrumbs{
            padding: 0;
        }
        a, h1{
            color: #fff;
        }
        h1{
            font-size: 3em;
            margin-top: 20px;
        }
    }
}
// Justified nav links
// -------------------------

@mixin nav-justified {
  width: 100%;

  .nav-item {
    float: none;
  }

  .nav-link {
    text-align: center;
    margin-bottom: 5px;
  }

  > .dropdown .dropdown-menu { //todo: remove child selector
    top: auto;
    left: auto;
  }

  @include media-breakpoint-up(sm) {
    .nav-item {
      display: table-cell;
      width: 1%;
    }
    .nav-link {
        margin-bottom: 0;
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
@mixin nav-tabs-justified {
  border-bottom: 0;

  .nav-link {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border: 1px solid transparent;
  }

  @include media-breakpoint-up(sm) {
    .nav-link {
      border-bottom: 1px solid transparent;
      border-radius: $border-radius $border-radius 0 0;
    }
   .nav-link.active,
   .nav-link.active:hover,
   .nav-link.active:focus {
      border-bottom-color: $primary;
    }
  }
}

.nav-justified {
  @include nav-justified;
  @include nav-tabs-justified;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .show>.nav-link {
    color: #001236;
    background-color: transparent;
    font-weight: 600;
    border-bottom: none;
}
.nav-pills .nav-link {
    color: #a4a6ac;
    font-family: "Nunito";
    text-align: left;
}
#carousel .carousel-indicators {
    justify-content: center;
}
#carousel .carousel-indicators li {
    background-color: transparent;
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
}
#carousel .carousel-indicators li.active {
    border: 2px solid #437ec1;
}
#custom_navbar{
    background: transparent !important;
}
@media (min-width: 992px){
    #carousel .container {
        max-width: 650px;
    }
}
@media screen and (min-width: 1025px){
    .brazilHtml5Mapbottom .brazilHtml5MapStateInfo, .brazilHtml5Mapbottom .brazilHtml5MapStateInfo {
        top: -190px;
        position: relative;
        left: -70px;
        z-index: 0;
        margin-bottom: -190px;
        display: initial;
    }
}
p.map{
    font-weight: r00;
    font-size: 0.8em;
}
@media screen and (min-width: 1200px){
    #carousel .container {
        max-width: 960px;
    }
}
#page_related .row, #page_related_inner .row{
    justify-content: flex-end!important;
    display: flex!important;
}
@media screen and (min-width: 992px) and (max-width: 1024px){
    div.cssClass {
        flex: 0 0 23.3%;
        max-width: 22.3%;
    }
}
.page-id-109{
    #contact{
        min-height: 100vh;
    height: auto;
    }
}
.page-id-107, .page-id-144{
    #work{
            min-height: 100vh;
        height: auto;
    }
}
// .page-id-144{
//     @media (min-width: 992px){
//         .container {
//             max-width: 750px;
//         }
//     }
// }
 .page-id-38, .page-id-144{
    @media screen and (min-width: 992px) and (max-width: 1199px){
        .container {
            max-width: 750px;
        }
    }
}
@media screen and (max-width: 992px){
    .page-id-151{
        #work{
                min-height: 100vh;
            height: auto;
        }
    }
}
.page-id-111{
    #page_related {
        z-index: 99;
    }
    #work{
            min-height: 100vh;
        height: auto;
    }
    @media screen and (min-width: 992px) and (max-width: 1399px){
        .container {
            max-width: 800px;
        }
        .brazilHtml5Mapbottom .brazilHtml5MapStateInfo, .brazilHtml5Mapbottom .brazilHtml5MapStateInfo {
            top: 20px;
            position: relative;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1024px){
        .brazilHtml5Mapbottom .brazilHtml5MapStateInfo, .brazilHtml5Mapbottom .brazilHtml5MapStateInfo {
            top: -190px;
            position: relative;
        }
    }
}
@media screen and (max-width: 992px){
    section{
        padding: 2em 0 6em 0;
    }
}
.page-id-109{
    .carousel-item {
        height: 66vh;
        min-height: 300px;
        border-bottom-right-radius: 107px;
    }
    @media screen and (max-width: 1025px){
        #contact, .p-0{
            padding: 0 0 6em 0 !important;
        }
        .carousel-item {
            height: 50vh;
            min-height: 300px;
            border-bottom-right-radius: 107px;
        }
    }
    @media (min-width: 992px){
        .container {
            max-width: 800px;
        }
    }
    @media screen and (max-width: 768px){
        .nav-justified .nav-item {
            flex-basis: auto;
            flex-grow: 1;
            text-align: center;
            width: 33% !important;
            display: inline-block !important;
            float: left !important;
            margin-bottom: 2em;
        }
    }
}
@media screen and (min-width: 767px){
    div.cssClass {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.page-template-template-sub #contact{
    min-height: 100vh;
    height: auto;
    padding-bottom: 8em !important;
    @media (min-width: 992px){
        .container {
            max-width: 800px;
        }
    }
}
@media (max-width: 992px){
    #breadcrumbs {
        margin-bottom: 20px;
    }
}
.page-id-151 .our_list .media img{
	cursor: pointer;
	  transform: rotate(0deg);
	transition: 0.3s ease all;

}
.page-id-151 .our_list:hover .media img{
	cursor: pointer;
	  transform: rotate(90deg);
	transition: 0.3s ease all;
}
.page-id-151 .media-body h2{
    cursor: pointer;
}
@media screen and (max-width: 992px){
    .page-id-151 .our_list{
        margin-top: 4em;
        img{
            text-align: center;
            margin: 0 auto;
            display: block;
            margin-bottom: 1em;
        }
    }
}
.page-id-38{
    #work{
            min-height: 100vh;
            height: 100vh;
    @media screen and (max-width: 1024px){
        height: auto;
    }}
}
.page-id-21{
   @media screen and (min-width: 1200px) and (max-width: 1440px){
       .container {
           max-width: 1050px;
       }
   }
}
.page-id-21{
   @media screen and (min-width: 992px) and (max-width: 1199px){
       .container {
           max-width: 750px;
       }
   }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
    #page_related{
        p{
            font-size: 0.8em;
        }
        div.cssClass {
    flex: 0 0 23%;
    max-width: 25%;
}
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .page-id-107{
        .container{
            max-width: 840px;
        }
        .timeline-section2 .timeline-icon-section:after, .timeline-section1 .timeline-icon-section:after{
            z-index: 99;
        }
    }
}
@media screen and (max-width: 992px){
    .scale-img, .timeline-section2 .timeline-icon-section:after, .timeline-section1 .timeline-icon-section:after{
        z-index: 0;
    }
    #work .timeline .timeline-section1 .scale_img, #work .timeline .timeline-section2 .scale_img{
        z-index: 0;
    }

}
