@font-face {
    font-family: 'Igna Sans ExtraLight It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-ExtraLightIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-Light.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-Black.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans Medium It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-MediumIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-UltraLight.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-ExtraLight.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans Light It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-LightIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans UltraLight It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-UltraLightIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-RegularIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-Regular.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-Medium.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Igna Sans Black It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-BlackIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans Bold It';
    src: url('/wp-content/themes/sciath/font/IgnaSans-BoldIt.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Igna Sans';
    src: url('/wp-content/themes/sciath/font/IgnaSans-Bold.woff2') format('woff2'),
        url('/wp-content/themes/sciath/font/IgnaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
