body{
    background: linear-gradient(to left, rgba(28, 27, 90, 0.9) 0%,rgba(4, 6, 36, 0.9) 75%);
}
h1 a {
    margin: 0 auto 0px !important;
    padding: 30px 0px !important;
    width: 100% !important;
    background-size: auto !important;
    pointer-events:none;
    height: auto !important;
    line-height: 4.3em !important;
}
.login #backtoblog a, .login #nav a{
    color: #fff;
}
.login #backtoblog a:hover, .login #nav a:hover{
    color: #fff;
}
.login form {
    margin-top: 0;
    background: #fff;
    border-radius: 30px;
    border-bottom: 8px solid #f9f9f9;
}
.wp-core-ui .button-primary, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #95afe2;
    border-color: transparent;
    box-shadow: 0 1px 0 #fff;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
}
.login form .input, .login input[type=text] {
    border: none;
    color: #000;
    background: transparent;
    border-bottom: 1px solid #c2c2c2;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus{
    box-shadow: none;
}
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1.5px;
}
